@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #be1e2d;
    --secondary-color: #ffffff;
    --bg-light: #f8f8f8;
    --bg-dark: #131313;
    --text-dark: #333333;
    --text-light: #f0f0f0;
    --yellow: #FFC759;
    --dark-grey: #607196;
    --light-grey: #BABFD1;
    --off-white: #E8E9ED;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--bg-dark);
}

a {
    text-decoration: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 100px 100px;
    gap: 8px;
    font-size: 0.85rem;
    color: var(--off-white);
}

footer > span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
}

#main-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

#main-container > .left-col {
    flex-grow: 1;
}

#main-container > .right-col {
    width: 210px;
    flex-grow: 0;
    flex-shrink: 0;
}

ul.nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
    display: flex;
    column-gap: 30px;
}

ul.nav li a {
    position: relative;
    display: block;
    color: white;
    font-weight: 500;
    padding: 10px 0px;
    border-bottom: solid 2px rgba(0,0,0,0);
}

ul.nav li a:hover {
    border-bottom: solid 2px var(--yellow);
}

ul.nav li a.active::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
}

.line-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 50px;
}

.line-1 > span {
    height: 10px;
    width: 10px;
    background-color: var(--primary-color);
}

.line-1 > span:first-child {
    width: 150px;
    background-color: var(--dark-grey);
}

.main-info h1 {
    font-family: 'Allura', cursive;
    font-size: 9rem;
    color: var(--yellow);
    margin: 0;
}

.main-info h3 {
    font-family: 'Allura', cursive;
    font-size: 5rem;
    color: var(--yellow);
    margin: 0;
    margin-bottom: 1rem;
}

.main-info h3 > span {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.main-info .profile-info {
    display: grid;
    grid-template-columns: max-content 1fr;
    position: relative;
    width: 700px;
    column-gap: 20px;
    row-gap: 5px;
}

.main-info .profile-info.list-skills {
    row-gap: 20px;
}

.main-info .profile-info .info-title {
    color: var(--dark-grey);
    padding: 2px 0px;
    position: relative;
}

.main-info .profile-info .info-title > i {
    margin-right: 15px;
}

.main-info .profile-info.list-contents .info-title,
.main-info .profile-info.list-skills .info-title {
    color: var(--off-white);
}

.main-info .profile-info.list-skills .info-title::before {
    content: '';
    display: block;
    position: absolute;
    border-top: dashed 1px rgba(255,255,255,0.2);
    width: 700px;
    height: 1px;
    left: 0px;
    top: -10px;
}

.main-info .profile-info .info-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 8px;
    color: var(--off-white);
}

.main-info .profile-info.list-contents .info-content,
.main-info .profile-info.list-skills .info-content {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.main-info .profile-info.list-contents .info-content > span {
    font-size: 0.75rem;
    font-weight: 500;
}

.main-info .profile-info.list-skills .info-content > span {
    width: 300px;
    padding-left: 90px;
    position: relative;
}

.main-info .profile-info.list-skills .info-content > span > em {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
}

.main-info .profile-info.list-skills .info-content > span > em .fa-star.filled {
    color: lime;
}

.main-info .profile-info.list-skills .info-content > span > em .fa-star.empty {
    opacity: 0.2;
}

.main-info .profile-gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    position: relative;
    gap: 50px;
}

.main-info .profile-gallery > a {
    display: block;
    aspect-ratio: 1 / 1;
    border: solid 2px var(--off-white);
    position: relative;
}

.main-info .profile-gallery > a > img {
    display: block;
    width: 100%;
}

.main-info .profile-contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.main-info .profile-contact form label {
    position: relative;
    color: white;
    height: 40px;
    border: solid 1px #555;
    margin-top: 20px;
}

.main-info .profile-contact form label:focus-within {
    border: solid 1px #ccc;
}

.main-info .profile-contact form label.text {
    height: 120px;
}

.main-info .profile-contact form label > span {
    position: absolute;
    left: 0px;
    bottom: 100%;
}

.main-info .profile-contact form label > input,
.main-info .profile-contact form label > textarea {
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 6px;
}

.main-info .profile-contact form label > textarea {
    resize: none;
}

.main-info .profile-contact form button {
    padding: 10px;
    cursor: pointer;
    background-color: var(--light-grey);
}

.main-info .profile-contact form button:hover {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

.image {
    position: relative;
    border: solid 5px white;
}

.image > img {
    display: block;
    width: 100%;
}



